@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #ccc;
  background-image: url(./images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: navajowhite;
  font-family: 'Shadows Into Light Two';
}

h1 {
  font-size: clamp(48px, 10vw, 61px);
  font-weight: 900;
  padding-bottom: 30px;
  font-family: 'Merienda';
  color: rgb(241, 217, 221);
}

h2 {
  font-size: clamp(18px, 4vw, 21px);
  font-weight: 900;
  padding-bottom: 10px;
}

p {
  font-size: clamp(23px, 4vw, 30px);
  font-weight: 500;
}

.container,
.grid-container,
.carousel-container {
  padding: 20px;
  background-color: rgba(66, 185, 181, 0.892);
}

.quote-container {
  border-top: dotted;
  border-bottom: dotted;
  border-width: 7px;
  border-color: bisque;
  border-radius: 0;
  padding: 40px;
  padding-top: 30px;
}

.quote-container q {
  font-size: 105%;
}

.grid-container h2 {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 900;
  color: rgb(241, 217, 221);
  font-family: 'Merienda';
}

.profile-pic {
  max-width: 100%;
}